<noscript>
    <div class="alert alert-warning">
        <strong> JavaScript is required:</strong> Please enable JavaScript to continue.
    </div>
</noscript>
<script src="~/pixi.min.js"></script>
<script src="~/tetris.js"></script>